<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="leJarModule" ng-csp>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="css/materialize.css"  media="screen,projection">
        <script src="js/jquery.min.js"></script>
        <script src="js/angular.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/leJarModule.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body ng-controller="entriesController">
        <div class="container" >
            <div id="hasAccess">
                <div style="text-align: center;">
                    <h5>Welcome {{name}}</h5> 
                </div>
                <div class="row" style="font-size: 12px;font-weight: 500;">
                    <div class="col s12">
                        <ul class="tabs blue-text">
                            <li class="tab col s3"><a class="active blue-text" href="#dashboard">Dashboard</a></li>
                            <li class="tab col s3"><a class="blue-text" href="#random">Random</a></li>
                            <li class="tab col s3"><a class="blue-text" href="#history">My History</a></li>
                            <li class="tab col s3"><a class="blue-text" href="#history">Approve</a></li>
                            <li class="tab col s3"><a class="blue-text" href="#history">Maintenance</a></li>
                        </ul>
                    </div>
                </div>

                <div id="random">
                    <div class="card-panel" style="text-align: center;">
                        <span class="blue-text text-darken-2">
                            <a href="#" class="waves-effect waves-light btn-large"  ng-click="generateRandom()" >
                                <i class="material-icons left">send</i>
                                Generate Random
                            </a>
                        </span>
                    </div>
                </div>

                <div id="dashboard">
                    <div style="text-align: center;">
                        <h5>Balance</h5>
                    </div>
                    <div class="card-panel" style="text-align: center;font-size: 12px;font-weight: bold">
                        <table class="bordered">
                            <thead>
                                <tr>
                                    <th colspan="2" style="text-align:center;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Total Balance</td>
                                    <td>
                                        <span class="green-text">
                                            RD${{dashboard.total_balance_paid}}
                                        </span>
                                        <span class="red-text">
                                            (RD${{dashboard.total_balance_unpaid}})
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Today's Personal Balance</td>
                                    <td>
                                        <span class="green-text">
                                            RD${{dashboard.todays_personal_balance_paid}}
                                        </span>
                                        <span class="red-text">
                                            (RD${{dashboard.todays_personal_balance_unpaid}})
                                        </span>   
                                    </td>
                                </tr>
                                <tr>
                                    <td>Total Personal Balance</td>
                                    <td>
                                        <span class="green-text">
                                            RD${{dashboard.total_personal_balance_paid}}
                                        </span>
                                        <span class="red-text">
                                            (RD${{dashboard.total_personal_balance_unpaid}})
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="history">
                    History Here
                </div>

                <div>
                    <a class="right" style="font-size: 12px;margin-bottom: 15px;" href="index.html" ng-click="logout()">LOGOUT</a>
                </div>
            </div>
            <div id="hasNoAccess">
                <div id="userSelection">
                    <div class="row">
                        <div class="col s12" style="text-align:center;font-si">
                            <h5>It looks like you have not been identified. Who Are you?</h5>
                        </div>    
                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="col s12" style="text-align:center;">
                            <a href="#" class="btn btn-success" ng-click="saveUser()">Save</a>
                        </div>   
                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="input-field col s12">
                            <select style="border-color: 1px solid #ccc;"  class="browser-default" ng-model="currentUser" ng-options="user.first_name + ' ' + user.last_name for user in users"/>
                            <label>Choose who are you?</label>
                        </div>    
                    </div>    
                </div>
            </div>
        </div>
    </body>	 

</html>
