<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="leJarModule" ng-csp>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="css/materialize.css"  media="screen,projection">
        <style type="text/css">
            .card-panel{
                padding: 5px 20px 20px 20px;
            }
        </style>
        <script src="js/jquery.min.js"></script>
        <script src="js/angular.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/lejar-utils.js"></script>
        <script src="js/leJarModule.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body ng-controller="entriesController">

        <div class="container" >
            <div id="hasAccess">
                <div class="row" style="font-size: 12px;font-weight: 500;">
                    <div class="col s12">
                        <ul class="tabs blue-text">
                            <li class="tab col s3"><a class="blue-text" href="#balance" ng-click="selectViewMode('balance');loadDashboardInfo()">Balance</a></li>
                            <li class="tab col s3"><a class="active blue-text" href="#random" ng-click="selectViewMode('random')">Random</a></li>
                            <li class="tab col s3"><a id="historyMenuId" class="blue-text" href="#history" ng-click="findEntriesByUser();selectViewMode('history')">My History</a></li>
                            <li ng-if="is_user_approver === 'true'" class="tab col s3"><a  class="blue-text" href="#approve" ng-click="findAllEntries();selectViewMode('approve')">Approve</a></li>
                            <li ng-if="is_user_maintenance === 'true'" class="tab col s3"><a  class="blue-text" href="#maintenance" ng-click="selectViewMode('maintenance')">Maintenance</a></li>
                        </ul>
                    </div>
                </div>
                <div id="balance"  ng-if="viewMode === 'balance'"> 
                    <div ng-include="'balance.html'"></div>
                </div>
                <div id="random" style="text-align: center;" ng-if="viewMode === 'random'">
                    <div ng-include="'random.html'" ></div>
                </div>
                <div id="history" ng-if="viewMode === 'history'"> 
                    <div ng-include="'history.html'"></div>
                </div>

                <div id="approve"  ng-if="viewMode === 'approve'"> 
                    <div ng-include="'approve.html'"></div>
                </div>

                <div id="maintenance" ng-if="viewMode === 'maintenance'">
                    <div ng-include="'maintenance.html'"></div>
                </div>

                <div>
                    <a class="" href="#" style="font-size: 12px;" ng-click="clickOnElement('historyMenuId');selectViewMode('history');findEntriesByUser()">{{name}}</a>
                    <a class="right" style="font-size: 12px;margin-bottom: 15px;" href="index.html" ng-click="logout()">Logout</a>
                </div>
            </div>
            <div id="hasNoAccess">
                <div id="userSelection">
                    <div class="row">
                        <div class="col s12" style="text-align:center;font-si">
                            <h5>It looks like you have not been identified. Who Are you?</h5>
                        </div>    
                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="col s12" style="text-align:center;">
                            <a href="#" class="btn btn-success" ng-click="saveUser()">Save</a>
                        </div>   
                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="input-field col s12">
                            <select style="border-color:1px solid #ccc;"  class="browser-default" ng-model="currentUser" ng-options="user.first_name+' '+user.last_name for user in users"></select>
                        </div>    
                    </div>    
                </div>
            </div>
        </div>
    </body>	 
</html>
