<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="leJarModule" ng-csp>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <script src="js/jquery.min.js"></script>
        <script src="js/angular.js"></script>
        <script src="js/leJarModule.js"></script>
    </head>

    <body ng-controller="entriesController">
        <div class="container" style="width:400px;padding: 10px;">
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="active"><a href="#">Home <span class="badge">42</span></a></li>
                <li role="presentation"><a href="#">Profile</a></li>
                <li role="presentation"><a href="#">Messages <span class="badge">3</span></a></li>
            </ul>
            <div id="balanceId">
                <h3>Welcome {{name}}</h3>
                <button class="btn btn-success" ng-click="generateRandom()">GET RANDOM</button>
                <span class="label label-danger">{{errorMessage}}</span>
                <span class="label label-info">{{message}}</span>
                <table class="table table-bordered" style="margin-top: 10px;">
                    <thead>
                        <tr>
                            <th colspan="2" style="text-align:center;">Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Total Balance</th>
                            <th>RD${{totalBalance.balance}}</th>
                        </tr>
                        <tr>
                            <td>Today's balance</td>
                            <td>RD${{todayBalance.paid_balance}}<span  id="todayTotalBalance" style="color:red;"> (RD${{evaluateAmount(todayBalance.unpaid_balance)}})</span></td>
                        </tr>
                        <tr>
                            <td>Today's personal balance</td>
                            <td>RD${{todayPersonalBalance.todays_balance}} <span id="todayPayment" style="color:red;">({{evaluatePayment(todayPersonalBalance.paid)}})</span></td>
                        </tr>
                        <tr>
                            <td>Total personal balance</td>
                            <td>RD${{totalPersonalBalance.todays_balance}} <span id="todayPayment" style="color:red;">({{evaluatePayment(totalPersonalBalance.paid)}})</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div id="userSelection">
                <div class="row">
                    <div class="col-xs-12" style="text-align:center;">
                        It looks like you have not been identified. Who Are you?
                    </div>    
                </div>
                <div class="row" style="margin-top:5px;">
                    <div class="col-xs-12" style="text-align:center;">
                        <a href="#" class="btn btn-success" ng-click="saveUser()">Save</a>
                    </div>   
                </div>
                <div class="row" style="margin-top:5px;">
                    <div class="col-xs-12">
                        <select style="text-align: center;" class="form-control" ng-model="currentUser" ng-options="user.first_name + ' ' + user.last_name for user in users"/>
                    </div>    
                </div>    
            </div>
        </div>
    </body>	 

</html>
